html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@import url('../../public/assets/css/tailwind.min.css');
@import url('../../public/assets/libs/tobii/css/tobii.min.css');
@import url('../../public/assets/libs/tiny-slider/tiny-slider.css');
@import url('../../public/assets/libs/js-datepicker/datepicker.min.css');
@import url('../../public/assets/libs/@mdi/font/css/materialdesignicons.min.css');